<!--
Name: index.html
Description: main page
Authors: Brinley Hull & Anakha Krishna
Other sources: Flask tutorial flask.com
Created: 3/22/2026
Last modified: 
  4/1/2026 - Added search bar
  4/9/2026 - Update posts to docs
-->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('interface.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form action="{{ url_for('interface.index') }}" method="POST">
    <input type="text" id="search" name="search">
    <input type="submit" value="Search">
  </form>
  {% for doc in docs %}
    <article class="doc">
      <header>
        <div>
          <a href="{{ doc['url'] }}"><h1>{{ doc['title'] }}</h1></a>
          <div class="about">by {{ doc['author'] }}</div>
        </div>
        {% if g.user['id'] == doc['author'] %}
          <a class="action" href="{{ url_for('interface.update', id=doc['docid']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ doc['content'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}