<!--
Name: update.html
Description: update a post page form
Authors: Brinley Hull & Anakha Krishna
Other sources: Flask tutorial flask.com
Created: 3/22/2026
Last modified: 
  4/9/2026 - Update to doc format
-->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ doc['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or doc['title'] }}" required>
    <label for="content">Content</label>
    <textarea name="content" id="content">{{ request.form['content'] or doc['content'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('interface.delete', id=doc['docid']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}